<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../../../boot-common/src/main/resources/static/bower_components/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <!-- MetisMenu CSS -->
    <link href="../../../../../boot-common/src/main/resources/static/bower_components/metisMenu/dist/metisMenu.min.css"
          th:href="@{/bower_components/metisMenu/dist/metisMenu.min.css}"
          rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../../../../../boot-common/src/main/resources/static/dist/css/sb-admin-2.css"
          th:href="@{/dist/css/sb-admin-2.css}"
          rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../../../../../boot-common/src/main/resources/static/bower_components/font-awesome/css/font-awesome.min.css"
          th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" >Please Sign In</h3>
                    </div>
                    <div class="panel-body">

                        <!--<div  th:errors="${user.loginName}" class="alert alert-warning">User  not exist</div>
                        <div  th:if="${#fields.hasErrors('${user.loginName}')}"></div>-->

                        <div  th:if="${message != null}" th:text="${message}" class="alert alert-warning">User  not exist</div>

                        <form role="form" action="login" method="post" th:action="@{/login}" th:object="${user}">
                            <fieldset>

                                <!--<p th:if="${#fields.hasErrors('loginName')}" th:errors="*{loginName}">Incorrect data</p>  placeholder="E-mail"  -->
                                <div class="form-group">
                                    <input class="form-control" name="loginName" type="text" th:name="loginName" th:value="thinkgem" required="required" autofocus="autofocus"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password"  placeholder="Password" name="password" th:name="password"  th:value="admin"   required="required"/>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me"/>Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <!--<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>-->
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login"/>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../../../../../boot-common/src/main/resources/static/bower_components/jquery/dist/jquery.min.js"
            th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../../../boot-common/src/main/resources/static/bower_components/bootstrap/dist/js/bootstrap.min.js"
            th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../../../boot-common/src/main/resources/static/bower_components/metisMenu/dist/metisMenu.min.js"
            th:src="@{/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../../../../boot-common/src/main/resources/static/dist/js/sb-admin-2.js"
            th:src="@{/dist/js/sb-admin-2.js}"></script>

</body>

</html>
